body{
    background-color: #292b2e;
    margin: 0 auto;
    transition: ease-in-out 1000ms;
}

.container-general{
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.container-juego{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-top: 5rem;
}

.vidas{
    font-size: 80px;
    background-color: #262626;
    border-radius: 1rem;
    padding: .1rem 2.3rem;
    color: #c7c7c7;
    transition: ease-in-out 200ms;
}


.vidas img{
    height: 80px;
}


.bloque{
    background-color: #262626;
    border: solid #c7c7c7;
    color: transparent;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 60px;
    padding: 1rem 3rem;
    transition: ease-in-out 250ms;
    user-select: none;
}