*{
    background-color: #424242;
    color: white;
}

#output{
    text-align: center;
    font-size: 30px;
}

.container-keyboard{
    text-align:center;
    margin-top: 1rem;
}

.container-keyboard button{
    font-size: 40px;
    margin: .4rem;
}